<div class="content">
  <div class="content-header">
    <span class="suggestions-title">Here are some groups to get you started!</span>
    <div class="suggestion-container">
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>
      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>

      </div>
      <div class="suggestion">
        <div class="suggestion-title">International Cuisine</div>
      </div>
    </div>

  </div>
  <div class="middle-content">
    <p>Members: {{foundGroup.user_count}}</p>
  </div>
  <p>{{foundGroup.group_name}}</p>

  {{#if userBelongsToGroup}}
    <p>User in group</p>
  {{/if}}
</div>