<div class="modal">
  <div class="create-group-modal">
    <div class="modal-heading">
      <p>Creating new group</p>
      <span class="exit">{{>exit}}</span>
    </div>
    <form action="/api/groups" method="POST" class="create-group-form">
  
       <div id="create-group-title" class="input-group">
      <input id="title" autocomplete="off" name="title" type="text" class="input" required="true" />
      <label for="title" class="label">Group Title</label>
      <span class="input-error error-activated"></span>
    </div>
       <div id="create-group-tags" class="input-group">
      <input id="tags" autocomplete="off" name="tags" type="text" class="input" required="true" />
      <label for="tags" class="label">Group Tags</label>
      <span class="input-error error-activated">Seperate with commas</span>
    </div>
    <input name="userId" id="userId"type="text" value="{{user.user_id}}" hidden>
    <div class="create-group-description">
     <textarea  name="description" id="description" cols="30" rows="5" placeholder="Create a description"></textarea>

     </div>
     <button class="create-group-btn">Create group</button>
    </form>
  </div>
</div>