<div class="backdrop-left"></div>
<div class="leftpanel">
  <div class="scrollable">
  <div class="logo">
    {{>logoSm}}
  </div>
  <div class="user-details">
    <span class="username">{{currentUser.username}}</span>
    
    <span class="user-avatar">
      {{>acorn}}
    </span>
    <span class="change-avatar">Change Avatar</span>
  </div>
  <nav class="user-nav">
    <a id="explore" class="user-nav-link" href="/user-panel">
        <span class="link-icon">
            {{>globeIcon}}
        </span>
        <span class="link-text">Explore</span>
        
    </a>
    <a id="groups" class="user-nav-link" href="/user-panel/groups">
         <span class="link-icon">
            {{>groupIcon}}
         </span>
        <span class="link-text">Groups</span>
    </a>
    <a class="user-nav-link" href="#"> <span class="link-icon">{{>gearIcon}}</span>
        <span class="link-text">Settings</span></a>
    <a class="user-nav-link" href="/logout">
         <span class="link-icon">{{>logoutIcon}}</span>
        <span class="link-text">Logout</span>
    </a>
  </nav>
  </div>
  <footer class="leftpanel-footer">
    <span>©Hobby Squad. All Rights Reserved 
      <div><a class="link" href="/privacy">Privacy Policy &</a> 
      <a class="link" href="/terms">Terms of Service</a></div></span>
  </footer>
</div>