 <header class="navbar not-scrolling">
  <span class="logo">
    <svg viewBox="0 0 254 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M88.4726 25.9048V16.6309H75.7746V25.9048H74.5332V7.38288H75.7746V15.517H88.4726V7.38288H89.714V25.9048H88.4726ZM103.643 26.1638C101.246 26.1638 99.2375 25.3263 97.617 23.6511C95.9963 21.9758 95.186 19.9294 95.186 17.5116C95.186 15.0766 95.9963 13.0215 97.617 11.3463C99.2375 9.67113 101.246 8.83355 103.643 8.83355C106.039 8.83355 108.048 9.67113 109.669 11.3463C111.289 13.0215 112.099 15.0766 112.099 17.5116C112.099 19.9294 111.289 21.9758 109.669 23.6511C108.048 25.3263 106.039 26.1638 103.643 26.1638ZM103.643 9.89564C101.574 9.89564 99.8496 10.6296 98.4704 12.0975C97.1083 13.5655 96.4273 15.3702 96.4273 17.5116C96.4273 19.6358 97.1083 21.4318 98.4704 22.8998C99.8496 24.3505 101.574 25.0758 103.643 25.0758C105.729 25.0758 107.453 24.3505 108.815 22.8998C110.177 21.4318 110.858 19.6358 110.858 17.5116C110.858 15.3702 110.177 13.5655 108.815 12.0975C107.453 10.6296 105.729 9.89564 103.643 9.89564ZM117.258 9.17031C118.482 9.06669 119.74 9.01488 121.033 9.01488C122.326 9.01488 123.43 9.32574 124.344 9.94745C125.275 10.5692 125.74 11.4758 125.74 12.6674C125.74 13.5655 125.499 14.3944 125.016 15.1543C124.533 15.9142 123.947 16.4928 123.257 16.8899C124.378 17.2181 125.309 17.8052 126.051 18.6515C126.792 19.4977 127.163 20.4562 127.163 21.5269C127.163 23.012 126.689 24.1347 125.74 24.8945C124.809 25.6543 123.49 26.0343 121.783 26.0343C120.077 26.0343 118.568 25.9739 117.258 25.853V9.17031ZM119.611 17.408L118.447 17.4339V24.8686C119.189 24.9377 120.387 24.9722 122.042 24.9722C123.163 24.9722 124.085 24.6614 124.809 24.0396C125.551 23.4006 125.921 22.6063 125.921 21.6564C125.921 20.6893 125.551 19.8517 124.809 19.1436C124.085 18.4183 123.137 17.9088 121.964 17.6153C121.361 17.4772 120.577 17.408 119.611 17.408ZM124.576 12.6415C124.576 11.7953 124.223 11.1477 123.516 10.6987C122.809 10.2324 121.964 9.99926 120.982 9.99926C119.999 9.99926 119.154 10.0252 118.447 10.077V16.4236C119.947 16.4236 121.146 16.4669 122.042 16.5532C122.714 16.1905 123.301 15.6638 123.801 14.973C124.318 14.2649 124.576 13.4878 124.576 12.6415ZM132.057 9.17031C133.281 9.06669 134.54 9.01488 135.833 9.01488C137.126 9.01488 138.23 9.32574 139.143 9.94745C140.075 10.5692 140.54 11.4758 140.54 12.6674C140.54 13.5655 140.299 14.3944 139.816 15.1543C139.333 15.9142 138.747 16.4928 138.057 16.8899C139.178 17.2181 140.109 17.8052 140.85 18.6515C141.592 19.4977 141.962 20.4562 141.962 21.5269C141.962 23.012 141.488 24.1347 140.54 24.8945C139.609 25.6543 138.29 26.0343 136.583 26.0343C134.876 26.0343 133.368 25.9739 132.057 25.853V9.17031ZM134.411 17.408L133.247 17.4339V24.8686C133.988 24.9377 135.187 24.9722 136.842 24.9722C137.962 24.9722 138.885 24.6614 139.609 24.0396C140.35 23.4006 140.721 22.6063 140.721 21.6564C140.721 20.6893 140.35 19.8517 139.609 19.1436C138.885 18.4183 137.937 17.9088 136.764 17.6153C136.161 17.4772 135.376 17.408 134.411 17.408ZM139.376 12.6415C139.376 11.7953 139.023 11.1477 138.316 10.6987C137.609 10.2324 136.764 9.99926 135.781 9.99926C134.799 9.99926 133.954 10.0252 133.247 10.077V16.4236C134.747 16.4236 135.945 16.4669 136.842 16.5532C137.514 16.1905 138.1 15.6638 138.6 14.973C139.118 14.2649 139.376 13.4878 139.376 12.6415ZM150.554 25.9048H149.391V19.8949L143.054 9.09259H144.477L149.365 17.4339C149.744 18.1937 149.959 18.5996 150.011 18.6515C150.115 18.4269 150.33 18.0297 150.658 17.4598L155.546 9.09259H156.89L150.554 19.9467V25.9048ZM177.915 9.01488C176.656 8.47951 175.407 8.21183 174.165 8.21183C171.647 8.21183 170.389 9.1444 170.389 11.0095C170.389 11.8212 170.674 12.5811 171.243 13.2892C171.812 13.98 172.5 14.6017 173.312 15.1543C174.122 15.6897 174.931 16.2423 175.743 16.8122C176.553 17.3821 177.243 18.0642 177.812 18.8587C178.381 19.6532 178.665 20.5166 178.665 21.4492C178.665 23.0208 178.138 24.2124 177.088 25.024C176.035 25.8185 174.579 26.2156 172.717 26.2156C170.871 26.2156 169.293 25.7408 167.984 24.7909L168.605 23.8583C169.846 24.6699 171.207 25.0758 172.691 25.0758C174.173 25.0758 175.311 24.7823 176.105 24.1951C176.897 23.5907 177.294 22.7271 177.294 21.6046C177.294 20.8274 177.01 20.0935 176.441 19.4027C175.872 18.6947 175.182 18.0642 174.372 17.5116C173.561 16.9417 172.751 16.3633 171.941 15.776C171.13 15.1888 170.441 14.4894 169.872 13.6777C169.303 12.8661 169.019 11.9939 169.019 11.0614C169.019 9.8352 169.466 8.86808 170.363 8.16002C171.277 7.43469 172.5 7.07202 174.036 7.07202C175.588 7.07202 177.026 7.38288 178.355 8.00459L177.915 9.01488ZM191.179 26.1638C188.782 26.1638 186.773 25.3263 185.153 23.6511C183.532 21.9758 182.722 19.9294 182.722 17.5116C182.722 15.0766 183.532 13.0215 185.153 11.3463C186.773 9.67113 188.782 8.83355 191.179 8.83355C193.574 8.83355 195.575 9.67113 197.179 11.3463C198.798 13.0215 199.61 15.068 199.61 17.4857C199.61 18.9191 199.308 20.249 198.705 21.4751C198.1 22.7012 197.273 23.7115 196.222 24.5059C200.324 26.941 203.479 28.409 205.687 28.9097C206.825 29.1861 207.919 29.3242 208.972 29.3242C210.022 29.3242 211.152 29.2033 212.36 28.9615C213.583 28.7198 214.454 28.4694 214.972 28.2103L215.256 28.8838C214.6 29.1947 213.643 29.497 212.385 29.7905C211.144 30.1014 209.971 30.2568 208.868 30.2568C207.782 30.2568 206.618 30.1099 205.377 29.8164C204.136 29.54 202.842 29.0911 201.498 28.4694C200.153 27.8476 199.109 27.3381 198.368 26.941C197.644 26.561 196.592 25.9652 195.213 25.1535C193.972 25.8271 192.627 26.1638 191.179 26.1638ZM191.153 9.89564C189.084 9.89564 187.368 10.6296 186.007 12.0975C184.644 13.5655 183.963 15.3702 183.963 17.5116C183.963 19.6358 184.644 21.4318 186.007 22.8998C187.368 24.3505 189.092 25.0758 191.179 25.0758C192.265 25.0758 193.248 24.8686 194.127 24.4541C192.178 23.1416 190.662 22.4854 189.575 22.4854C188.955 22.4854 188.386 22.6063 187.869 22.848L187.481 22.1227C188.066 21.7427 188.722 21.5528 189.446 21.5528C190.17 21.5528 190.877 21.6823 191.567 21.9414C192.255 22.2004 192.834 22.468 193.3 22.7444C193.781 23.0208 194.402 23.4093 195.162 23.9101C196.16 23.2366 196.946 22.3385 197.515 21.216C198.1 20.0762 198.394 18.8328 198.394 17.4857C198.394 15.3615 197.704 13.5655 196.325 12.0975C194.963 10.6296 193.238 9.89564 191.153 9.89564ZM205.369 20.0762L202.964 25.9048H201.748L208.783 8.98897H209.481L216.567 25.9048H215.248L212.817 20.0762H205.369ZM209.067 10.9059C208.808 11.6831 208.576 12.3307 208.369 12.8488L205.783 19.0659H212.403L209.843 12.8747C209.447 11.9076 209.188 11.2513 209.067 10.9059ZM231.669 24.1692C230.531 25.4989 228.798 26.1638 226.47 26.1638C224.143 26.1638 222.41 25.4989 221.272 24.1692C220.134 22.8394 219.565 21.0002 219.565 18.6515V9.09259H220.755V18.6515C220.755 22.9516 222.659 25.1017 226.47 25.1017C230.28 25.1017 232.186 22.9516 232.186 18.6515V9.09259H233.375V18.6515C233.375 21.0002 232.806 22.8394 231.669 24.1692ZM244.798 25.024C247.004 25.024 248.773 24.4282 250.1 23.2366C251.445 22.045 252.117 20.249 252.117 17.8484C252.117 15.4479 251.359 13.5396 249.841 12.1234C248.341 10.7073 246.487 9.99926 244.281 9.99926C242.711 9.99926 241.506 10.0338 240.66 10.1029V24.8427C241.695 24.9636 243.073 25.024 244.798 25.024ZM244.281 8.93716C246.867 8.93716 249.022 9.74021 250.746 11.3463C252.487 12.9351 253.358 15.1025 253.358 17.8484C253.358 20.5943 252.557 22.6581 250.953 24.0396C249.368 25.4212 247.315 26.112 244.798 26.112C243.057 26.112 241.263 26.0257 239.419 25.853V9.09259C240.798 8.98897 242.419 8.93716 244.281 8.93716Z"
        fill="white"
      />
      <path
        d="M5.61739 11.493C8.7198 11.493 11.2348 14.0122 11.2348 17.1199C11.2348 20.2273 8.7198 22.7465 5.61739 22.7465C2.515 22.7465 1.3561e-07 20.2273 0 17.1199C-1.3561e-07 14.0122 2.515 11.493 5.61739 11.493Z"
        fill="#1F4B7E"
      />
      <path
        d="M27.1508 5.74643C27.1508 2.57274 24.6358 -5.24521e-05 21.5334 -5.24521e-05C18.431 -5.24521e-05 15.916 2.57274 15.916 5.74643C15.916 8.92013 18.431 11.4929 21.5334 11.4929C24.6358 11.4929 27.1508 8.92013 27.1508 5.74643Z"
        fill="#FF0606"
      />
      <path
        d="M27.1508 28.2535C27.1508 25.0798 24.6358 22.507 21.5334 22.507C18.431 22.507 15.916 25.0798 15.916 28.2535C15.916 31.4272 18.431 34 21.5334 34C24.6358 34 27.1508 31.4272 27.1508 28.2535Z"
        fill="#FF0606"
      />
    </svg>

  </span>
  <div class="auth-links">
    {{#if currentUser}}

      <div class="toggler loggedIn">
        <span class="user-image">
          {{>acorn}}
        </span>
      </div>
      <div class="nav-dropdown">
      <a href="/user-panel">User Panel</a>
      <a href="/logout">Logout</a>
    </div>
    {{else}}
      <span class="toggler">Login/Signup</span>
      <div class="nav-dropdown">
      <a href="/login">Login</a>
      <a href="/register">Signup</a>
    </div>
    {{/if}}
    
  </div>
  <div class="auth-links-mobile">
    <span class="toggler-mobile">
      <div class="toggler"></div>
      <svg
        width="5"
        height="20"
        viewBox="0 0 5 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.5 0C3.88072 0 5 1.11929 5 2.50003C5 3.88069 3.88072 5 2.5 5C1.11929 5 6.03526e-08 3.88069 0 2.50003C-6.03529e-08 1.11929 1.11929 0 2.5 0Z"
          fill="#1A70D3"
        />
        <path
          d="M2.5 7.5C3.88072 7.5 5 8.61929 5 10C5 11.3807 3.88072 12.5 2.5 12.5C1.11929 12.5 6.03526e-08 11.3807 0 10C-6.03529e-08 8.61929 1.11929 7.5 2.5 7.5Z"
          fill="#1A70D3"
        />
        <path
          d="M2.5 15C3.88072 15 5 16.1193 5 17.5C5 18.8807 3.88072 20 2.5 20C1.11929 20 6.03526e-08 18.8807 0 17.5C-6.03529e-08 16.1193 1.11929 15 2.5 15Z"
          fill="#1A70D3"
        />
      </svg>
    </span>
    <div class="nav-dropdown">
      <a href="/login">Login</a>
      <a href="/register">Signup</a>
    </div>
  </div>
</header>