<div class="post-container">
  <div class="post-user-data">
    <span class="post-user-img">
      {{initial}}
    </span>
    <div class="post-user-name">
      <p class="name">{{User.username}}</p>
      <p class="date">{{date}}</p>
    </div>

  </div>
  <div class="post-content">
    <p>{{content}}</p>
  </div>
</div>