 <div class="scrollable-right">
  <div class="backdrop"></div>
  <div class="rightpanel">

    <div class="top-search not-searching">

      <form class="search">
        <input
          id="q"
          name="q"
          class="q"
          type="text"
          autocomplete="off"
          placeholder="Search Hobby Squad"
        />
        <button class="search-btn" for="search-term">
          <svg
            width="24"
            height="25"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.5752 15.6427L18.4371 20.0022"
              stroke="#ABABAB"
              stroke-width="3"
              stroke-linecap="round"
            />
            <circle
              cx="9.80254"
              cy="10.5933"
              r="5.44413"
              transform="rotate(-41.5365 9.80254 10.5933)"
              stroke="#ABABAB"
              stroke-width="3"
            />
          </svg>
        </button>
      </form>

      <div class="search-info">
        {{!-- <span class="results">Results: {{searchResults.quantity}}</span>
        <span class="seperator">•</span>
        <span class="searching">Searching: {{searchResults.term}}</span> --}}
        <p style="margin:0 auto;" class="non-search-heading">Search Hobby Squad
          and Meet Others!</p>

      </div>
    </div>

    <div class="scrollable-search">

      {{!-- {{#each searchResults.results}}
  
  {{>searchresult}}
  {{/each}} --}}
    </div>
    {{!--  
  {{/if}} --}}
    {{!-- {{else}}

 {{/if}}
  {{!-- {{>searchresult}}
  {{>searchresult}} --}}
  </div></div>