<div class="search-result">
  <div class="search-result-header">
    <span class="title">{{group_name}}</span>
    <span class="members">Members: {{user_count}}</span>
  </div>
  <div class="search-result-body">{{description}}
    <a href="/user-panel/group/{{id}}">Read more</a>
  </div>
</div>