<div class="search-result">
  <div class="search-result-header">
    <span class="title">{{group_name}}</span>
    <span class="members">Members: {{dataValues.userCount}}</span>
  </div>
  <div class="search-result-body">This group was created to facilitate a
    community of like-minded individuals who share a passion for hiking and
    exploring the beautiful landscapes of Iceland. The group aims to bring
    together outdoor enthusiasts who want to connect, share...
    <a href="/user-panel/group/{{id}}">Read more</a>
  </div>
</div>