 {{!< layout}}

{{!-- {{#content "pageTitle"}}
"Hobby Squad | Adventure Awaits"
{{/content}} --}}
<div class="landing-main">{{>navbar}}
  <div id="#hero" class="hero">
    <div class="hero-message">
      <h1 class="hero-heading">FIND YOUR ADVENTURE</h1>
      <p class="hero-text">Hobbies & Friends</p></div>
    <a class="hero-btn" href="/register">Find my squad</a>
  </div>
</div>
<section id="growth" class="section">
  <div class="section-img">
    <img src="/images/growth.webp" alt="" />
  </div>
  <div class="section-description">
    <div class="section-description-decor"><svg
        width="298"
        height="177"
        viewBox="0 0 298 177"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M297.5 102.5C297.5 58.0412 68.3543 0.00012207 25 0.00012207C-18.3544 0.00012207 7.99978 16.041 7.99978 60.4999C14.5 102.5 4.14565 177 47.5 177C90.8544 177 297.5 146.959 297.5 102.5Z"
          fill="#FF0606"
          fill-opacity="0.2"
        />
      </svg></div>
    <h2 class="section-description-title">Growth</h2>
    <p class="section-description-text">
      Individuals venture into uncharted territories, embracing challenges and
      pushing beyond their comfort zones. Through this journey of discovery and
      personal development, they uncover hidden strengths, cultivate resilience,
      and expand their horizons. This transformative experience fuels growth and
      fosters adaptability.
    </p>
  </div>
</section>
