<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /><link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Julius+Sans+One&display=swap"
      rel="stylesheet"
    />
    {{! <link rel="preload" href="/styles/main.css" as="style"> 
     <link rel="preload" href="/styles/landing.css" as="style" />
<link rel="preload" href="/styles/content.css" as="style" />
<link rel="preload" href="/styles/createGroup.css" as="style" />
<link rel="preload" href="/styles/hero.css" as="style" />
<link rel="preload" href="/styles/leftpanel.css" as="style" />
<link rel="preload" href="/styles/login.css" as="style" />
<link rel="preload" href="/styles/navbar.css" as="style" />
<link rel="preload" href="/styles/passwordVisibility.css" as="style" />
<link rel="preload" href="/styles/posts.css" as="style" />
<link rel="preload" href="/styles/register.css" as="style" />
<link rel="preload" href="/styles/rightpanel.css" as="style" />
<link rel="preload" href="/styles/search-result.css" as="style" />
<link rel="preload" href="/styles/section.css" as="style" />
<link rel="preload" href="/styles/userpanel.css" as="style" /> }}

    {{! <link rel="stylesheet" href="/styles/landing.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <link rel="stylesheet" href="/styles/createGroup.css" />
    <link rel="stylesheet" href="/styles/hero.css" />
    <link rel="stylesheet" href="/styles/leftpanel.css" />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/passwordVisibility.css" />
    <link rel="stylesheet" href="/styles/posts.css" />
    <link rel="stylesheet" href="/styles/register.css" />
    <link rel="stylesheet" href="/styles/rightpanel.css" />
    <link rel="stylesheet" href="/styles/search-result.css" />
    <link rel="stylesheet" href="/styles/section.css" />
    <link rel="stylesheet" href="/styles/userpanel.css" /> }}
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
  </head>
  <body>

    {{{body}}}

    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"
    ></script>
    <script type="module" src="/javascript/app.js"></script>
  </body>
</html>