.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  position: fixed;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
  transition: 0.2s;
}
.create-group-modal {
  background-color: white;
  width: 800px;
  height: max-content;
  border-radius: 10px;
}
.exit {
  position: absolute;
  right: 20px;
  border: 1px solid #dbdbdb;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.exit:hover {
  border: 1px solid #959595;
  transition: 0.2s;
}
.exit svg {
  width: 13px;
  height: 11px;
  pointer-events: none;
}
.exit svg path {
  stroke: rgb(80, 80, 80);
  transition: 0.2s;
}
.exit:hover svg path {
  stroke: rgb(4, 4, 4);
  transition: 0.2s;
}
.modal-heading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
}
.modal-heading p {
  text-align: center;
}
.create-group-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}
.input-group {
  position: relative;
}
.input {
  outline: none;
  width: 100%;
  border: 1px solid #c3c3c3;
  transition: 0.5s;
  font-size: 16px;
  padding: 14px 15px;
  border-radius: 5px;
  font-weight: 300;
  color: rgb(85, 85, 85);
}
.input.error-activated {
  border: 1px solid #e93737;
  box-shadow: 0 0 4px #e93737;

  transition: 0.5s;
}
.input-group:not(:last-of-type) {
  margin-bottom: 20px;
}
.input-group:last-of-type {
  margin-bottom: 10px;
}
.input:focus {
  border: 1px solid #4792e7;
  box-shadow: 0 0 4px #1b76ddb2;

  transition: 0.5s;
}

.input:valid + .label {
  left: 0;
  top: 0;
  transform: translate(30%, -50%);
  background-color: white;
  font-size: 12px;
  transition: all 0.2s ease-in;
  opacity: 1;
  padding: 2px 6px;
}
.input:focus + .label {
  left: 0;
  top: 0;
  transform: translate(30%, -50%);
  background-color: white;
  font-size: 12px;
  transition: all 0.2s ease-in;
  opacity: 1;
  padding: 2px 6px;
}

.label {
  color: rgba(0, 0, 0, 0.404);
  position: absolute;
  opacity: 1;
  padding: 2px 6px;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
  transform: translate(10%, 40%);
  font-size: 18px;
}
.create-group-description {
  width: 100%;
  position: relative;
}
#description {
  border: 1px solid #dbdbdb;
  resize: none;
  width: 100%;
  padding: 10px;
  font-family: "Inter";
  font-size: 16px;
  border-radius: 10px;
  outline: none;
}
.description-label {
  color: rgba(0, 0, 0, 0.404);
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
}
.create-group-btn {
  display: block;
  background-color: none;
  border: none;
  color: white;
  text-transform: uppercase;
  background: var(--btn-gradient);
  padding: 12px 20px;
  border-radius: 5px;

  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
}
