.group-item {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
}

.group-content {
  display: grid;
  grid-template-columns: 1fr minmax(0, 600px) 1fr;
  column-gap: 40px;
}
.group-description {
  width: 100%;
  font-size: 12px;
  line-height: 26px;
}
.group-title {
  font-size: 14px;
  grid-column: 1/-1;
  font-weight: 600;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.group-img {
  width: 130px;
  height: 130px;
}
.group-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.group-options {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  font-size: 12px;
  margin-left: 30px;
  row-gap: 30px;
  width: max-content;
  object-position: center;
}
.owner-crown {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owner-crown svg {
  width: 14px;
  height: 14px;
}
.owner-crown svg path {
  stroke: rgb(255, 205, 39);
}
@media screen and (max-width: 1553px) {
  .group-title {
    text-align: center;
  }
  .group-img {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
  .group-img img {
    width: 100%;
    height: 100%;
  }
  .group-description {
    grid-column: 1/-1;
  }
  .group-options {
    flex-direction: row;
    width: max-content;
    grid-column: 1/-1;
    column-gap: 30px;

    margin: 0 auto;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1316px) {
  .group-description {
    width: 100%;
    font-size: 12px;
    line-height: 26px;
    grid-column: 2/3;
  }
  .group-title {
    font-size: 14px;
    grid-column: 1/-1;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
  }
  .group-img {
    width: 130px;
    height: 130px;
    grid-column: 1/2;
  }
  .group-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .group-options {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 12px;
    margin-left: 30px;
    row-gap: 30px;
    width: max-content;
    object-position: center;
    grid-column: 3/4;
  }
}
@media screen and (max-width: 1114px) {
  .group-title {
    text-align: center;
  }
  .group-img {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
  .group-img img {
    width: 100%;
    height: 100%;
  }
  .group-description {
    grid-column: 1/-1;
  }
  .group-options {
    flex-direction: row;
    width: max-content;
    grid-column: 1/-1;
    column-gap: 30px;

    margin: 0 auto;
    margin-top: 30px;
  }
}
/* 
@media screen and (max-width: 1000px) {
  .group-description {
    width: 100%;
    font-size: 12px;
    line-height: 26px;
    grid-column: 2/3;
  }
  .group-title {
    font-size: 14px;
    grid-column: 1/-1;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: left;
  }
  .group-img {
    width: 130px;
    height: 130px;
    grid-column: 1/2;
  }
  .group-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .group-options {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    font-size: 12px;
    margin-left: 30px;
    row-gap: 30px;
    width: max-content;
    object-position: center;
    grid-column: 3/4;
  }
}
@media screen and (max-width: 81000px) {
  .group-title {
    text-align: center;
  }
  .group-img {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    grid-column: 1/-1;
    margin-bottom: 40px;
  }
  .group-img img {
    width: 100%;
    height: 100%;
  }
  .group-description {
    grid-column: 1/-1;
  }
  .group-options {
    flex-direction: row;
    width: max-content;
    grid-column: 1/-1;
    column-gap: 30px;

    margin: 0 auto;
    margin-top: 30px;
  }
} */
/* @media screen and (max-width: 1650px) {
  .group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .group-title {
    text-align: center;
  }
  .group-options {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 1465px) {
  .group-content {
    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
  }
  .group-img {
    width: 400px;
    margin-bottom: 40px;
  }
} */
