 .landing-main {
  background: url("../images/hobbySquadBG.webp");
  height: 750px;
  background-position: center;

  width: 100vw;
}
@media screen and (max-width: 815px) {
  .landing-main {
    height: 650px;
  }
}
@media screen and (max-width: 440px) {
  .landing-main {
    height: 480px;
  }
}
