  .login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
}
.login-image {
  width: 100%;
}
.form-group {
  position: relative;
}
.form-input {
  outline: none;
  width: 100%;
  border: 1px solid #c3c3c3;
  transition: 0.5s;
  font-size: 16px;
  padding: 14px 15px;
  border-radius: 5px;
  font-weight: 300;
  color: rgb(85, 85, 85);
}
.form-input.error-activated {
  border: 1px solid #e93737;
  box-shadow: 0 0 4px #e93737;

  transition: 0.5s;
}
.form-group:not(:last-of-type) {
  margin-bottom: 40px;
}
.form-group:last-of-type {
  margin-bottom: 10px;
}
.form-input:focus {
  border: 1px solid #4792e7;
  box-shadow: 0 0 4px #1b76ddb2;
  transition: 0.5s;
}

.form-input:valid + .form-label {
  left: 0;
  top: 0;
  transform: translate(30%, -50%);
  background-color: white;
  font-size: 12px;
  transition: all 0.2s ease-in;
  opacity: 1;
  padding: 2px 6px;
}
.form-input:focus + .form-label {
  left: 0;
  top: 0;
  transform: translate(30%, -50%);
  background-color: white;
  font-size: 12px;
  transition: all 0.2s ease-in;
  opacity: 1;
  padding: 2px 6px;
}

.form-label {
  color: rgba(0, 0, 0, 0.404);
  position: absolute;
  opacity: 1;
  padding: 2px 6px;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
  transform: translate(10%, 40%);
  font-size: 18px;
}
.login-image img {
  width: 100%;
}
.login-form {
  padding: 20px 60px;
  width: 600px;
}
.login-form-title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 80px;
}
.dont-have-account {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.555);
  font-size: 12px;
  margin-bottom: 60px;
}
.dont-have-account--link:link,
.dont-have-account--link:visited {
  text-decoration: none;
  color: var(--secondary-color);
}
.auth-btn-login {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
/* .auth-btn-login.loading {
} */
.auth-btn-login span {
  opacity: 1;
}
.auth-btn-login.loading span {
  opacity: 0;
}
.auth-btn-login.loading {
  position: relative;
}
.form-group.error-activated {
  animation: shake 0.2s linear 1;
}
.input-error {
  opacity: 0;
  display: block;
  font-size: 12px;
  color: var(--error-red);
  width: 100%;
  height: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.input-error.error-activated {
  opacity: 1;
}
.loading-circle {
  opacity: 0;
  width: 28px;
  height: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: white;
  animation: spin 0.6s linear infinite;
}
.auth-btn-login.loading .loading-circle {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(5px);
  }
}
