@import url("./navbar.css");
@import url("./landing.css");
@import url("./hero.css");
@import url("./section.css");
@import url("./login.css");
@import url("./passwordVisibility.css");
@import url("./register.css");
@import url("./userpanel.css");
@import url("./leftpanel.css");
@import url("./rightpanel.css");
@import url("./search-result.css");
@import url("./content.css");
@import url("./posts.css");
@import url("./group-content.css");
@import url("./createGroup.css");
:root {
  --secondary-font: "Julius Sans One";
  --secondary-color: #1b75dd;
  --btn-gradient: linear-gradient(180deg, #1c75dd 22.16%, #000000 263.37%);
  --btn-gradient-faded: linear-gradient(
    180deg,
    #204e83d2 22.16%,
    #000000 263.37%
  );
  --secondary-light: #499cfc;
  --divider: 1px solid #dbdbdb;
  --error-red: #f07575;
  --error-dark-red: #e93737;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Inter";
  overflow-x: hidden;
}
.highlighted {
  background-color: rgba(255, 255, 137, 0.521);
}
/* #anchor {
  position: relative;
  padding-top: 100px;
} */
.auth-btn {
  display: block;
  background-color: none;
  border: none;
  color: white;
  text-transform: uppercase;
  background: var(--btn-gradient);
  padding: 16px 80px;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
}
#image-preview {
  width: 300px;
}
.auth-btn:disabled {
  background: var(--btn-gradient-faded);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
}
