.password-visible,
.password-not-visible {
  display: flex;
  width: 24px;
  position: absolute;
  height: 24px;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 20px;
  transform: translateY(-85%);
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

.password-visible svg,
.password-not-visible svg {
  width: 18px;
  height: 18px;
  pointer-events: none;
}
.password-not-visible.active,
.password-visible.active {
  pointer-events: all;
  opacity: 1;
  transition: 0.2s;
}
