/* padding: 30px 60px; */

.post-container {
  padding: 30px 60px;
  padding-top: 0;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
}
.new-post {
  animation: newPost 0.7s ease-in-out;
}
.post-container:last-child {
  margin-bottom: 100px;
}

.comment-section-title {
  padding: 0;
  border-bottom: 1px solid #dbdbdb;
  font-size: 24px;
}
.comment-section-title p {
  padding-left: 60px;
  padding-bottom: 20px;
  margin-top: 60px;
}
.post-user-data {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 10px;
  padding-top: 30px;
}
.post-user-name {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
}
.post-content {
  font-size: 14px;
  line-height: 24px;
}
.date {
  font-size: 10px;
  margin-top: 3px;
}
.post-user-img {
  background-color: rgb(189, 7, 98);
  color: white;
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 490px) {
  .post-container {
    padding: 30px;
    padding-top: 0;
    border-bottom: 1px solid #dbdbdb;
  }
  .post-user-img {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .post-content {
    font-size: 12px;
    line-height: 24px;
  }
}
@keyframes newPost {
  0% {
    background-color: rgba(255, 255, 137, 0.521);
  }
  100% {
    background-color: white;
  }
}
