.search-result {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px 30px;
}
.search-result.not-searching {
  border-bottom: 1px solid transparent;
}
.search-result-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  /* column-gap: 70px; */
}
.title {
  font-size: 12px;
  font-weight: 600;
}
.members {
  font-size: 12px;
}
.search-result-body {
  font-size: 12px;
}
.search-result:first-of-type {
}
.search-result.empty {
}
.search-result-body.empty {
  font-size: 12px;
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}
.non-search-heading {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 18px;
  color: var(--secondary-color);
  font-weight: 600;
}
.non-search-img {
  right: 0;
  transform: translate(20%, 10%);
}
