.userpanel {
  height: 100vh;
  display: grid;
  grid-template-columns: max-content 1fr 500px;
}

@media screen and (max-width: 1316px) {
  .userpanel {
    height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
  }
}
@media screen and (max-width: 998px) {
  .userpanel {
    grid-template-columns: 1fr;
  }
}
